---
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import About from '@components/About.astro'
import Services from '@components/Services.astro'
import Form from '@components/Form'
import Reviews from '@components/Reviews.astro'
---

<Layout title="AAR Plumbing">
	<main>
    <Hero />
    <About />
    <Services />
    <div class="max-w-[1440px] mx-auto px-4 md:px-6 lg:px-12 xl:px-[156px] py-5">
      <Form client:visible />
    </div>
    <Reviews />
	</main>
</Layout>
