---
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import About from '@components/About.astro'
import Services from '@components/Services.astro'
import Form from '@components/Form'
import Reviews from '@components/Reviews.astro'
---

<Layout title="AAR Plumbing">
  <main>
    <Hero />
    <About />
    <Services />
    <Form client:visible />
    <Reviews />
  </main>
</Layout>
