---
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import About from '@components/About.astro'
import Services from '@components/Services.astro'
import Reviews from '@components/Reviews.astro'
---

<Layout title="AAR Plumbing">
  <div class="bg-white h-screen w-screen z-[-2] fixed" />
  <main>
    <Hero />
    <About />
    <Services />
    <Reviews />
  </main>
</Layout>
