<section
  class="mx-auto max-w-[1440px] px-4 py-10 md:px-6 lg:px-12 xl:px-[156px]"
>
  <div class="max-w-3xl mx-auto text-sky-900 text-lg">
    <h1 class="text-2xl font-semibold">AAR PLUMBING</h1>
    <p class="my-4">
      Hi there, my name is Rhett and I am a sole trader with over 30 years of
      experience in the plumbing industry. Based in Morwell, I have built a
      reputation as a reliable and skilled water and gas plumber, serving the
      local community with top-quality services.
    </p>
    <p class="my-4">
      From small repairs to complex installations, I am equipped to handle all
      of your plumbing needs. Customer satisfaction is my top priority and I
      take pride in the work I do.
    </p>
    <p class="my-4">
      If you are in need of a trustworthy and experienced plumber look no
      further. Contact me today to schedule an appointment and see the
      difference my expertise can make.
    </p>
  </div>
</section>
