<footer class="mx-auto max-w-[1440px] p-4 md:px-6 lg:px-12 xl:px-[156px]">
  <div class="grid-col-1 my-4 grid gap-4 md:grid-cols-2 md:gap-8">
    <div class="mb-4">
      <h4 class="mb-2 text-xl font-semibold">LOCATION</h4>
      <p class="text-lg">
        Serving the Traralgon, Morwell, Churchill, Moe and surrounding area
      </p>
    </div>
    <div>
      <h4 class="mb-2 text-xl font-semibold">CONTACT</h4>
      <p class="text-lg">
        <a href="tel:0448222500" class="hover:underline">0448 222 500</a>
        |
        <a href="mailto:aarplumb@icloud.com" class="hover:underline"
          >aarplumb@icloud.com</a
        >
      </p>
    </div>
  </div>
  <div class="text-center text-sm">
    <p>
      This site was created by Aren Clissold. Enquire about having your own site
      created at <a class="hover:underline" href="https://arenclissold.com"
        >arenclissold.com</a
      >
    </p>
  </div>
</footer>
