---
import Icon from "@components/Icon"
const phoneNumber = '0448 222 500'
const email = 'aarplumb@icloud.com'

---
<div class="w-full py-3 px-3 shadow-[0_5px_5px_0px_rgba(0,0,0,0.1)] flex justify-between items-center">
  <a
    href="#"
    class="font-serif font-extrabold text-blue-700 text-4xl"
    >
    AAR Plumbing
  </a>
  <a
    href={`mailto:${email}`}
    class="flex items-center py-2 px-4 rounded-3xl bg-pink-600 text-white text-xl hover:bg-pink-500 transition-all duration-200"
  >
    <Icon icon="phone" className="inline-block scale-150 mr-2" />
    {phoneNumber}
  </a>
</div>
