<section
  class="flex h-screen items-center justify-center bg-cover bg-fixed bg-no-repeat"
  style="background-image: linear-gradient(rgba(29, 78, 216, 0.8), rgba(29, 78, 216, 0.8)), url(/hero.jpg);"
>
  <h1 class="px-4 text-center text-6xl font-bold text-white md:px-6 lg:px-12">
    Latrobe Valley's trusted local plumber
  </h1>
</section>
