---
import Icon from './Icon'

const review = {
  name: 'Canex Graphic Designs',
  body: 'Rhett is by far the best plumber around! Recommended to us by the real estate we bought our house through - definitely glad we had asked them! Great prices, very quick and extremely helpful for people who may not know the ins and outs of plumbing!',
  star: Array(5)
}
---

<section class="flex justify-center p-10 bg-cyan-100">
  {
    <div class="relative max-w-xl text-sky-900 pl-2">
      <Icon
        icon="quote"
        className="absolute left-[-2.5rem] top-[-1.5rem] h-10 w-10"
      />
      <Icon
        icon="quote"
        className="absolute right-[-1.5rem] bottom-[-0.5rem] h-10 w-10 rotate-180"
      />
      <h4 class="font-bold">{review.name}</h4>
      <p class="my-2">{review.body}</p>
      <div class="flex ml-[-0.5rem]">
        <Icon icon="star" className="h-8 w-8" />
        <Icon icon="star" className="h-8 w-8" />
        <Icon icon="star" className="h-8 w-8" />
        <Icon icon="star" className="h-8 w-8" />
        <Icon icon="star" className="h-8 w-8" />
      </div>
    </div>
  }
</section>
